body {
  background-color: black;
}

.container {
  padding-left: 480px;
  padding-right: 480px;
}

h3 {
  background-color: white;
}

#start-pause-button {
    background-color: rgb(49, 49, 61);
    color: rgb(172, 108, 108);
    align-self: center;
    margin-left: 0%;
}

.bottom{
  width: 560px;
  padding-left: 2px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
  background-color: black;
}

.grid div {
  width: 20px;
  height: 20px;
}

.pac-dot {
  background-color: green;
  border: 5px solid black;
  box-sizing: border-box;
}

.wall {
  background-color: blue;
}

.invisible-wall {
  background-color: black;
}

.power-pellet {
  background-color: green;
  border-radius: 10px;
}

.blinky {
  background-color: red;
  border: 0px;
}

.pinky {
  background-color: pink;
  border: 0px;
}

.inky {
  background-color: brown;
  border: 0px;
}

.clyde {
  background-color: orange;
  border: 0px;
}

.scared-ghost {
  background-color: aquamarine;
  border: 0px;
}

.pac-man {
  background-color: yellow;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  body {
    background-color: black;
  }

  .container {
    padding-left: 240px;
    padding-right: 240px;
  }

  .bottom{
    width: 560px;
    padding-left: 2px;
  }
}

@media screen and (max-width: 900px) {
  body {
    background-color: black;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .bottom{
    width: 560px;
    padding-left: 2px;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: black;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    border: solid black;
    background-color: black;
  }

  .grid div {
    width: 15px;
    height: 15px;
  }

  .bottom{
    width: 420px;
    padding-left: 2px;
  }
}